<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Koa2</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="styleSheet" type="text/css" href="css/site.css">
        <script src="js/hello.js"></script>
    </head>
    <body>
        <h1>Hello Koa2</h1>
        <% include body.ejs %>
    </body>
</html>