<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Koa2 With Angular4</title>
  <base href="./">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body>
  <app-root></app-root>

  <script type="text/javascript" src="/vendor/inline.bundle.js"></script>
  <script type="text/javascript" src="/vendor/polyfills.bundle.js"></script>
  <script type="text/javascript" src="/vendor/styles.bundle.js"></script>
  <script type="text/javascript" src="/vendor/vendor.bundle.js"></script>
  <script type="text/javascript" src="/vendor/main.bundle.js"></script>
</body>

</html>